.titulo {
    margin: 50px;
    text-align: center;
}

.botoes {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.adm,
.acervo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 10rem;
}