<div class="jumbotron titulo">
    <div class="container">
        <h1 class="display-4">Bem Vindo!</h1>
        <p class="lead">Sistema para controle de livros da biblioteca TIVISI.</p>
    </div>
</div>

<div class="botoes">
    
    <button routerLink="/adm" mat-raised-button class="adm mat-elevation-z3 bg-info">
        <mat-card-title class="adm-title text-white">
            ADMINISTRADOR
        </mat-card-title>
    </button>
    
    <button routerLink="/acervo" mat-raised-button class="acervo mat-elevation-z3 bg-info">
        <mat-card-title class="acervo-title text-white">
            ACERVO
        </mat-card-title>
    </button>
</div>

