<div class="livro col-md-6">
    <div class="row">
        <div class="capa">
            <img style="height: 500px;" src="../../../assets/1984.jpg" alt="capa-livro">
        </div>
        <div class="info">
            <p class="titulo-livro">Título: 1984</p>
            <p class="autor-livro">Autor: George Orwell</p>
            <p class="paginas-livro">Páginas: 328</p>
            <p class="genero-livro">Gênero: Ficção Científica</p>
            <p class="reservado-livro">Não</p>
            <p class="emprestado-livro">Não</p>
        </div>
    </div>
    <div class="row descricao">
        <p>Descrição: Mil Novecentos e Oitenta e Quatro, muitas vezes publicado como 1984, é um romance distópico da autoria do escritor britânico George Orwell e publicado em 1949 .</p>
    </div>
    <div class="reservar col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Digite seu nome">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" id="button-addon2">Reservar</button>
            </div>
        </div>
    </div>
</div>
