.conteudo {
    margin-top: 20px;
}

table {
    width: 100%;
}

.lista {
    padding-left: 0;
}

.livro {
    padding-left: 30px;
}

.info {
    margin-left: 20px;
}

.descricao {
    margin-top: 20px;
}

.reservar {
    margin-top: 20px;
    padding-left: 0;
}

.mat-row:nth-child(even){
    background-color:white;
    }

.mat-row:nth-child(odd){
    background-color: lightgray;
    }

.sem-capa {
    margin-left: 15px;
}

@media (max-width: 320px) {
    
    .search {
        margin: auto; 
    }
    
    .livro,
    .sem-capa {
      margin: auto;
      margin-top: 15px;
    }
  }